body {
    display: grid;
    width: 100%;
    grid-template-columns: 65% 35%;
    grid-template-rows: 50px 90%;
    height: 100vh;
    padding: 0;
    margin: 0;
    user-select: none;
}
.popup-container {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    border-radius: 6px;
    color: white;
    background-color: #555;
    padding: 8px;
    margin-left: -35px;
}
