.gallery-page {
    grid-column: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .gallery-container {

    display: grid;
    width: 95%;
    grid-template-columns: repeat(autofit, 2fr);
    grid-template-rows: repeat(4, 2fr);
    gap: 5px;
    justify-self: center;
    padding: 10px;
} */

.img-container {
    width: 150px;
    justify-self: center;
    align-self: center;
    padding: 5px;
}

.gallery-container img {
    width: 100%;
    border-radius: 10px;
}

.upload-img-container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    box-shadow: 0px 0px 3px 1px #6a6767;
    cursor: pointer;
}

.upload-img-container [type='file'] {
    
    display: none;
}
.upload-img-symbol{
    color: var(--clr-orange);
    font-size: 50px;
    cursor: pointer;
}

.img-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    /* width: 200px; */
}
.gallery-container img:hover {
    cursor: pointer;
}

.search-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* height: 35px; */
    width: 100%;
    margin-block: 5px;

}

.search-input {
    width: 100%;
    font-size: 16px;
    padding: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 81px;
 
}

.form-wrapper {
    display: flex;
    flex-direction: row;
    padding: 15px;
    width: 80%;
}

.search-input:hover {
    box-shadow: 0px 0px 3px -1px black;
}
.search-input:focus-visible {
    outline-color: var(--clr-orange);
}

.form-wrapper button{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: var(--clr-orange);
}

.delete-meme-btn{
    background-color: var(--clr-hidden);
    border: none;
    position: absolute;
    font-size: 20px;
    z-index: 10;
    left: 2px;
    top: 8px;
    cursor: pointer;
    color: var(--clr-orange);
}